[2019-08-27 07:24] thjaeckle opened #2 "[JS] Provide initial Ditto JavaScript client"
We would like to have a client published to npm in order to interact with digital twins via a Eclipse Ditto backend.

[2019-09-03 07:28] ffendt opened #4 "[Java] Can't add second consumer on same JsonPointer after events were consumed"
Currently, the client doesn't allow a second consumer for the same selection after already events were consumed. Here's how to reproduce the problem:
1. Register consumer A with id "a-id" (+ `startConsumption()` for the client)
2. Generate events -> A consumes the events
3. Register consumer B with id "b-id"
4. Still only A consumes events
5. Cancel consumer A -> B will now consume events.

**Desi

[2019-09-04 06:27] thjaeckle commented on #2
Created CQ for runtime dependencies of the new JavaScript client:
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=20789

[2019-09-04 12:34] thjaeckle commented on #2
CQ for development dependencies:
https://dev.eclipse.org/ipzilla/show_bug.cgi?id=20791

I remembered that for a "workswith" CQ no sources have to be provided - so I just attached the `dependencies.json`.

The CQ 20789 was already approved in the meantime 🥂

[2019-09-05 07:28] #4 closed

[2019-09-10 05:53] ffendt opened #8 "[JS] Add Server Sent Events (SSE) implementation for Eclipse Dittos events"
Currently the JS client only allows receiving events via WebSocket. We should also provide an implementation that uses the existing SSE API that is already provided by Eclipse Ditto.

Note: Main reason for this not being in the initial commit is, that the [event-source-polyfill](https://www.npmjs.com/package/event-source-polyfill) seemed to not work in web components that used the client. When imp

[2019-09-10 06:00] ffendt opened #9 "[JS] Unravel the WebSocket implementation"
The WebSocket implementation of the client API currently is very difficult to read, understand and extend. When reading the code (or the tests for it), it is not possible to understand if everything works as expected or if it doesn't.

Therefore the implementation definitely requires some work (and probably a rewrite?).

Additionally to the existing provided functionality, there should also be the

[2019-09-10 06:03] ffendt opened #10 "[JS] Add junit test reports"
Add JUnit test reports for the javascript tests.
Can be done using the [jest-junit](https://www.npmjs.com/package/jest-junit) reporter.

[2019-09-10 06:24] thjaeckle commented on #2
Closed via PR #5

[2019-09-10 06:24] #2 closed

[2019-09-18 13:18] jokraehe opened #17 "[Java] Support token based authentication"
Currently the java client SDK only supports basic authentication against a Ditto backend, but the backend supports authentication via OpenID Connect.
We should provide an implementation for token based authentication in the client SDK.

[2019-10-08 12:29] thjaeckle opened #19 "[Java] Analyze and fix raising memory consumption in client"
The `DefaultRegistry.pointerCache` seems to build up a lot over time.
First guess is this line: https://github.com/eclipse/ditto-clients/blob/master/java/src/main/java/org/eclipse/ditto/client/internal/bus/DefaultRegistry.java#L105

That will cache any "not found" selector in the `pointerCache` - the backing `ConcurrentHashMap` however is unlimited which would lead eventually always to memory issu

[2019-10-10 11:09] #19 closed

[2019-11-06 12:17] flobaader opened #28 "[JS] ReferenceError: EclipseDittoJavascriptClientApi is not defined"
Hi,

I want to use the client in a VueJs environment (with Webpack).
When I want to use the client I get the following error:

`ReferenceError: EclipseDittoJavascriptClientApi is not defined`

my code:

[code]

reported source file:
[code]

versions:
[code]

[2019-11-06 12:25] w4tsn opened #29 "[JS] Add Bearer-Token based authentication"
Ditto currently support basic auth, google JWT and OpenID Connect tokens. In order for the last two to work a Bearer token class is required.

Open Questions
---

Is it possible in the websocket-implementation of this project, to have custom headers in the websocket connection request? This is required to enable header-based token authentication on websocket connections. Ditto itself supports this

[2019-11-06 14:58] ffendt commented on #28
Hi there,
thanks for your question. Can you provide a minimal example to reproduce the problem?

[2019-11-06 15:22] flobaader commented on #28
Hi,

thanks for the quick reply. I have set up a minimum Vue app with the Ditto import here: https://github.com/flobaader/ditto-js-client-undefined-example

Hopefully this helps.

[2019-11-07 08:06] jokraehe commented on #29
Hi @w4tsn
to my knowledge it is not possible to send custom headers with a websocket request in the browser as the underlying implementation doesn't allow it.
In our commercial offering we think about implementing a cookie based authentication for websockets in the browser. The cookie would be offered by an authorization server running on the same domain as our service. The client could then use t

[2019-11-07 08:28] ffendt commented on #28
Hi there,
thanks for the example. I was able to reproduce the problem with it.

I think the problem lies somewhere in webpack that does load the modules in a wrong way. As we can see from the error logs, `index.bundle.js` is used, which is the IIFE version of the client and thus should work in browser environments. The client also requires the api (`EclipseDittoJavascriptClientApi`) to be defined,

[2019-11-07 09:54] flobaader commented on #28
Is there any reason why the api package is not included in the client packages? Because I guess that you would always need the api module with the same version as the client package.
I will do some research to find out if there is any way to tell webpack where to find the API package.

[2019-11-07 10:06] ffendt commented on #28
The api package is not included to allow users to build their own implementation on top of it (just like the dom and node implementations that are provided currently). But yes, as we would expect to always use the same version, we could try to find a way to include the api directly into the clients instead of importing the api module.

[2019-11-07 14:29] flobaader commented on #28
Okay. My recommendation would be to allow users to implement the API with the existing package but to combine the API package with your implementations. Then everything should work fine (hopefully).

[2019-11-08 14:52] w4tsn commented on #29
I thought this library would not relay on the browser implementation of websockets and instead implement it itself. There are other browser-compatible implementations of the websocket protocol implementing additional header support, although this is not part of the standard and mostly requires a custom server-side as well.

I'm with you that, if the websocket implementation does not support header

[2019-11-09 17:11] thjaeckle commented on #29
The Ditto Javascript client for using in browser is also using the plain `WebSocket`.
So also no headers available there.. :unamused:

The longer we talk about this problem the more I think that we should allow sending such data via the Websocket "sub protocols" feature.
See also this proposal: https://stackoverflow.com/a/4361358/5058051

I really dislike the alternative to send authentication rel

[2019-11-10 11:09] wklenk opened #30 "The websocket session expired because the JWT used for authentication has expired"
Im am using ditto-client 1.0.0-M3 and OAuth based authentication (client-id, client-secret).
I open a websocket connection to get notified about twin events.
Every 60 minutes, I get the following message:

While this is not a big issue, as the ditto-client reconnects automatically after 5 seconds, there is still the risk that I loose incoming events within this 5 seconds interval.
Are there plans

[2019-11-11 07:19] jokraehe commented on #30
Hi @wklenk
there is in fact a refresh mechanism in place for client credentials authentication. It should automatically get a new access token from your configured authorization server and send it to the Ditto backend. I'll try to reproduce and get back to you.

[2019-11-11 12:10] w4tsn commented on #29
Is ditto able to read the token from a cookie, or is only the `Authorization: Bearer ...` header supported?

If cookies would work, I could think of using a self-hosted `gatekeeper` that is responsible for getting the token and setting a cookie or having the frontend application handle the logic and setting the cookie.

[2019-11-11 14:43] thjaeckle commented on #29
Ditto does not (yet) support reading from cookies.
A self-hosted `gatekepper` could to the Cookie-To-Header rewriting as well as setting the cookie, couldn't it?
And yes, this would be a 3rd party app in between Ditto js dom client and Ditto.

[2019-11-11 20:00] w4tsn commented on #29
Yeah, the gatekeeper issues a cookie to the client if authenticate successfully (I think we had to trick it into it though, because with valid access token it just passes through) BUT we ran into the problem that the gatekeeper does not accept websocket connections. If it would except websocket connections and add the auth header on the other side on it's way to ditto that would be nice, but we co

[2019-11-12 06:44] #30 closed

[2019-11-12 07:09] thjaeckle commented on #29
Oh, too bad.
We would definitely do such things in nginx (acting as a gatekeeper for us), e.g. that way: https://stackoverflow.com/a/39353517/5058051

[2019-11-25 11:47] dguggemos opened #31 "Add support for top-level policy management"
With eclipse/ditto#554 policies are supported in the ditto protocol. The Ditto Java Client will also be extended to support top-level policy management. I.e. there will be no no Java API to manipulate subjects/entries, but only the whole policy (nevertheless the respective subject/entry commands can be built using the ProcotolAdapter directly).

[2019-11-26 07:44] desislava-marinova opened #32 "Add support for Async JsonWebTokenSupplier"
Ditto currently supports access token authentication using only synchronous JsonWebTokenSupplier. Refresh token operation is supposed to be asynchronous one and it will be good if a support for asynchronous JsonWebTokenSupplier is provided, e.g. something like
[code]

[2020-01-08 14:30] geglock opened #39 "Add support in Java client for notification/monitoring of connection problems"
The Java client establishes a WebSocket connection to the Ditto back end and automatically re-connects this connection in case of problems. This is fine, but it is done invisible to my application that uses the client. This means, that my application cannot monitor such connection problems and alert if they are critical. During re-connects some (optionally) important thing events could also be mis

[2020-01-12 15:10] JulianFeinauer opened #40 "Question on usage on Gateway"
This is rather a question than an Issue but nonetheless I just post it here.
We are using Apache PLC4X in our java based application (plc4x.apache.org) which could, at the same time serve as Gateway in Eclipse IoT Terminology. So this would be the "client" which identifies with the "thing".
Is the Java Client right for this use case?
And if so, how do I correctly use the "client.live()" functional

[2020-01-13 07:02] thjaeckle commented on #40
Hi Julian.

Strictly speaking devices would not directly connect to Eclipse Ditto, but for example via Eclipse Hono or an MQTT broker which is capable of connecting millions of devices.
For gateway scenarios gateways could directly connect via WebSocket (which the Ditto Java client makes use of) to Ditto, so the client should be the right tool, yes.

Now there are two "channels" in Ditto, [twin an

[2020-01-13 08:17] JulianFeinauer commented on #40
Thank you for the detailed reply @thjaeckle and indeed it makes some things clearer.
I saw in the code that the Client currently only supports WebSockets so this indeed is a showstopper for us as well (we usually use MQTT as Transport Layer).
And I got everything working nicely with the `client.twin()` but strugled with an example for `client.live()` (with property changes). I will retry it with y

[2020-01-27 10:21] yufei-cai opened #41 "Remve Thread.sleep from DittoClientUsageExamples.java ?"
I think we set users on the right path of asynchronous programming by not calling Thread.sleep in the client usage examples.

[2020-02-26 09:23] xinzheng1990 opened #45 "does things-search work? or how can I retrieve all the things from the ditto"
I am new to ditto. From the HTTP API, it shows there are endpoints for things-search. How could I use it through ditto-client? Thanks

[2020-02-26 09:28] thjaeckle commented on #45
Currently: No, the Java client does not support searching for things.
We however are currently working on https://github.com/eclipse/ditto/issues/575 which will add support for this to the Java client as well.

[2020-03-24 18:14] thjaeckle commented on #31
Closed by PR #46

[2020-03-24 18:14] #31 closed

[2020-04-16 09:48] yufei-cai commented on #40
@JulianFeinauer Keep in mind that Ditto is not an MQTT broker. To use MQTT as transport, you will need to bring your own MQTT broker and configure the Ditto back-end to talk to it.

Should you wish to work on adding MQTT support to the Java client, please let me know. It will become easier after #53 barring caveats (MQTT messages are binary; client and back-end need 2 topics for duplex communicati

[2020-04-16 09:51] JulianFeinauer commented on #40
@yufei-cai thanks for the pointer. Indeed I am considering the additon of MQTT as provider. I understand that WebSockets is easier and "self-contained" but in many real world scenarios you want to have some kind of gateway pushing messages via message based communication (MQTT, AMQP, generally Hono, ...). So I see the need for that.

[2020-04-16 11:39] #45 closed

[2020-05-05 11:30] BobClaerhout opened #57 "Java Websocket client disconnecting"
As discussed on gitter, I'm getting following exception when using the java websocket connection to ditto:

[code]

We are using the following snippet to setup the connection:
[code]
The ditto SDK client version we are using, is version 1.0.0. We tested this with both Ditto 1.0.0 and 1.1.0 and are encoutering the same issues.

[2020-05-05 11:32] JulianFeinauer commented on #57
Could be related to https://github.com/TakahikoKawasaki/nv-websocket-client/issues/196.

[2020-05-06 06:12] jokraehe commented on #57
Hi @BobClaerhout have you tried Ditto and SDK 1.1.0? I had reproduced your issue with Ditto 1.0.0, but it seemed to be fixed with 1.1.0 for me.

[2020-05-06 09:16] BobClaerhout commented on #57
Hi @jokraehe didn't try with SDK 1.1.0 yet. Will try that.

[2020-05-06 10:42] BobClaerhout commented on #57
Installed this SDK 1.1.0 and the issue still remains.

[2020-05-07 05:59] jokraehe commented on #57
Ok. We'll have to reproduce it o our end and let you know when we fixed the issue.

[2020-06-16 13:41] jokraehe commented on #57
Hi @BobClaerhout sorry this one was in limbo for so long. Did you also upgrade Ditto >=1.1.0? Or only the SDK? There was a bug in the backend which led to this behaviour, but was fixed with 1.1.0 and we can't reproduce the faulty behaviour.

[2020-06-16 13:41] ffendt commented on #57
Hi @BobClaerhout,
do you still encounter this bug? I tried to reproduce this with Ditto 1.1.1 and Ditto Client 1.1.1. The refresh seems to be working from my side.

Maybe you can try to increase the expiry grace period in [`ClientCredentialsAuthenticationConfiguration#117`](https://github.com/eclipse/ditto-clients/blob/master/java/src/main/java/org/eclipse/ditto/client/configuration/ClientCredenti

[2020-06-19 15:25] vhdirk opened #61 "[JS] putThing throws error when updating an existing Thing"
According to the docs, a `PUT` request for an existing `Thing` will have ditto respond with status 204 and an empty body.
The JS client SDK, however, always expects body: https://github.com/eclipse/ditto-clients/blob/master/javascript/lib/api/src/client/request-factory/request-sender.ts#L48

[2020-06-26 14:26] BobClaerhout commented on #57
Hi @ffendt I'm sorry I didn't respond yet. I will be testing this

[2020-06-29 12:04] BobClaerhout commented on #57
@jokraehe, @ffendt, we deployed this morning ditto version 1.1.1 and are using the Java SDK 1.1.1 and are still encountering issues with it. See following logs:
[code]

Besides the error, it also seems that the SDK is not returning then exception when it happens. Almost exactly 1 minute after the exception is logged (saying it is discarding the message) we get a timeout exception saying the comple

[2020-07-01 06:53] ffendt commented on #57
Did you also set a breakpoint at the line I explained and checked if your code answers with a valid token?

[2020-07-01 07:36] ffendt commented on #61
Good catch! Do you want to provide a PR for that?

[2020-07-15 13:36] yufei-cai opened #65 "Java client: Let user configure all thread pools"
Ditto java client 1.1.2 allocates and shuts down its own thread pools, which lead to performance problems when many instances of the java client run in the same JVM. It would be better to let the user provide every ExecutorService the client uses so that the threads are shared across all instances.

The client should not shutdown any user-provided ExecutorService when destroyed. Instead, it should

[2020-07-16 13:45] vhdirk opened #67 "[JS] Add realtime local clone"
It'd be cool if the Ditto SDK could have a local clone of the remote digital twin, that is updated with websocket/sse. That way, the number of http requests could be a lot lower.

One example of this is the firebase firestore. The JS SDK can be set up to work like this, too.

What's your opinion on this? I'm willing to work on it, but it might take a while; it's quite a bit of work, and I don't ha

[2020-07-16 17:42] thjaeckle commented on #67
I like that idea very much. :+1:
Would make building web uis showing live data from a twin really easy.

[2020-09-27 13:20] desislava-marinova opened #87 "java ditto-client threads leakage"
Steps executed:

- Open java ditto-client
- call registerForThingChanges
- destroy the client

Every DittoClients seems to occupy ~10 threads in this scenario
When all clients are destroyed, the following threads are still open

| Number of opened clients | Number of opened threads | Number of ditto-client--adaptable-bus threads after destroy| Number of pool-X-thread-Y threads after destroy|
| ---

[2020-09-28 07:43] desislava-marinova commented on #87
The problem described above is only when no events are received at all. If there are events the number of leaked threads is a lot more.

[2020-09-28 11:45] desislava-marinova opened #89 "Sometimes DittoClients.newInstance(...) blocks forever"
Creating ditto client sometimes blocks forever. Here is the thread that is blocked and never ends.
[code]

[2020-09-28 12:24] DerSchwilk commented on #89
This could potentially be caused by #88 and fixed with the corresponding PR.

[2020-09-29 14:33] #87 closed

[2020-09-30 15:49] thjaeckle commented on #89
Also fixed by #88

[2020-09-30 15:49] #89 closed

[2020-09-30 15:50] #40 closed

[2020-10-12 09:30] bialad opened #93 "Client always connecting on localhost"
I'm trying to connect to a ditto instance running on another host with this configuration.

[code]
suing this library version

[code]

But I get this error

`Error: connect ECONNREFUSED 127.0.0.1:80`

It seems it's connecting to localhost even though domain is set.

[2020-10-12 09:48] thjaeckle commented on #93
That's really strange as we don't have a default of `localhost` and port `80` in the codebase.

* Are you behind a HTTP proxy?
* Did you try using the `DittoNodeClient.newWebSocketClient()` and have the same issue?

[2020-10-12 09:56] bialad commented on #93
No proxy, and withTls is set so I guess port should be 443.

Websockets is the same.

[2020-10-12 09:58] bialad commented on #93
If I console.log thingsHandle I get this:

[code]

[2020-10-12 10:00] bialad commented on #93
If I enter the domain in my browser I get the ditto landing page, so it should work.

[2020-10-12 10:03] thjaeckle commented on #93
Did you try specifying the port explicitly in the `domain`, so e.g.: `ditto.example.com:443`?

[2020-10-12 10:09] bialad commented on #93
No difference when adding the port.

[2020-10-12 10:27] bialad commented on #93
I mapped my local port 80 to the remote host, and now I get an html error. I assume it using the base url, and getting the landing page back.

Seems like the client is not actually constructing the url through RequestSender.fetchRequest() and RequestSender.buildUrl()

[2020-10-12 10:36] bialad commented on #93
f I run `console.log(thingsHandle.requestFactory.buildUrl())` I get `https://ditto.example.com/api/2/things`

[2020-10-12 11:04] thjaeckle commented on #93
I just verified on https://repl.it/repls/UnlawfulProfitableGlitches#index.js

with:
[code]

With the same result:
[code]

[2020-10-12 11:15] bialad commented on #93
Oh good, than I can stop finding issues in my setup!

[2020-10-12 11:17] thjaeckle commented on #93
Yeah, seems like either noone used this before and noticed or that because of some updated dependencies this stopped working.
I have no clue about JS, so I won't be of help in fixing this bug :(

[2020-10-12 12:19] bialad commented on #93
OK, so I found the issue.

In the `node-library` file `node-http.ts` row `103` there is a `this.proxyAgent != undefined` check. Which it never is, even though no proxy is set. I changed it to `this.proxyAgent.options.path != undefined` which is set through `newHttpClient()`, and then it works.

This might not be the best way to handle it though, depending on the proxyAgent implementation. Do you k

[2020-10-12 12:53] thjaeckle commented on #93
Cool, thx .. that will help a lot.
@joosdavid will have a look ..

[2020-10-13 09:38] #93 closed

[2020-10-19 05:25] tobias-zeptio commented on #67
I'd say this feature is great, but would probably not fit in the scope of a client. This is more of a application layer implementation, at least that how I have done it in the past. An implementation would depend on the javascript framework in use by whoever's using the library.

Maybe do an example implementation a as ditto-clients/javascript/examples/web-app.

[2020-12-10 08:00] jufickel-b opened #106 "[Java] Javadoc of `register...` methods should refer to `startConsumption` methods"
Without calling `startConsumption` the `register...` methods have no effect.

[2020-12-14 09:54] thjaeckle commented on #57
Will close this inactive issue for now, please add another issue if you encounter this again and can provide a reproducer.

[2020-12-14 09:54] #57 closed

[2020-12-14 09:58] thjaeckle commented on #39
Don't we have this kind of hook now @Yannic92 ?

[2020-12-14 11:08] Yannic92 commented on #39
https://github.com/eclipse/ditto-clients/pull/75

This should be exactly what's requested by this issue.

[2020-12-14 11:13] thjaeckle commented on #39
Good, then closing this issue via #75

[2020-12-14 11:13] #39 closed

[2020-12-17 10:41] vavido commented on #29
Related PR: #108

[2020-12-17 14:09] vavido commented on #28
I was able to prevent the original error by [shimming](https://webpack.js.org/guides/shimming/) the `EclipseDittoJavascriptClientApi` in the webpack config like so:
[code]

However, I'm now getting the following error instead:
[code]

The offending line is the declartation of the `DomHttpBasicAuth` class inside the index.bundle.js of the dom client.

[2020-12-18 13:29] thjaeckle commented on #57
This could be caused by https://github.com/eclipse/ditto/pull/922 (so by the Ditto backend).
If you still encounter this bug, consider watching that PR which should be released as part of a Ditto bugfix release 1.5.1 soon 👀

[2020-12-18 14:26] ffendt commented on #28
Hi @vavido,

I also tried again to get my hands dirty at this. It still seems to be the case, that the loader has issues with the IIFE module format used by the Ditto JS client. I was also able to reproduce your error (with a bit different error message, but at the same line) and at that point `dittoJavascriptClientApi_1_0` (i.e. `EclipseDittoJavascriptClientApi`) still was undefined, even though

[2020-12-21 10:03] vavido commented on #28
Hi @ffendt,
thank you for looking into this a bit more.
I actually didn't think of telling webpack to not resolve the browser module.
I will try that in our "real-world" application and see if there is way to do this without breaking other dependencies.

If that fails, I will have a look at the IIFE build settings, maybe something can be done there.

In the case that there is no other solution, wo

[2021-01-04 06:23] ffendt commented on #28
Hi @vavido,
yes, I would consider doing this, but this will also need some thoughts.

[2021-01-04 15:15] vavido commented on #28
In our case, your workaround seems to do the job, I added browser as the last entry of the resolve order.
As far as I can tell right now, this only caused a problem with one of our dependencies which seems to be working better when resolved via its `browser` index.js.

However, this can be fixed by importing the file directly, circumventing the webpack resolver.
In our case, the offending library

[2021-01-05 08:12] ffendt commented on #28
I think you're right. Actually we already provide it as an ES6 module with the `module` field. And thanks to you I also tried using the ES6 version in plain html and it worked 🎉. So probably we can just remove the iife bundling completely (and thus also the `browser` info).

[2021-01-05 09:57] vavido commented on #28
I just tested the configuration without IIFE in our webpack environment, works perfectly with just the default webpack configuration 👍

[2021-01-05 13:21] vavido opened #114 "[JS] Typings of the thing model"
When accessing the `properties` of a feature in typescript, the compiler complains that
[code]
The quickest workaround here is to add an `//@ts-ignore` above the line, but that can get bloated quickly.

Another quick solution would be to change the return type of `get properies()` in the `Feature` class to `any`.
A more "proper" approach could be to set the return type to a dictonary, (I assume th

[2021-01-05 13:26] vavido commented on #114
As a somewhat related sitenote, the current API of the `Thing` class is a bit weird, too. To access features of a thing, `thing.features?.features?` is needed because the `features` field is of `Features` type, which then conains a dictonary `features` that has the actual features.
Tbh, I don't fully understand the purpose of the `Features` class and the `IndexedEntityModel` class it inherits from

[2021-01-05 15:17] ffendt commented on #114
I like the idea of pushing the "problem" down one layer for `properties`. The API knows it's a dict, so it can also show it like this. The layer below is domain logic of users and needs to be mapped to the correct data type for that domain by the user.

You're absolutely right about the `Features` object (and all other classes extending `IndexedEntityModel`). If we were about to change the `featur

[2021-01-05 17:08] vavido commented on #114
Normally I would suggest just creating a class instead of an interface, but I think in the case of index signature types like `FeatureType` there is no way to do this.
I would advocate for simply creating seperate data classes/interfaces and static mapper functions/classes, as I personally find the current approach with things like `class IndexedEntityModel<T extends IndexedEntityModel<T, V>, V>

[2021-01-08 09:09] vavido commented on #114
I thought some more about it and I theoretically like the idea of having the `toObject`/`fromObject` methods directly on the corresponding classes, but in this case this leads to an extra class (`Feature`) that has essentially no purpose other than mapping objects but now also gets dragged along into the class hierarchy.
@ffendt What do you think about seperate mapper & data classes?

[2021-01-08 09:15] vavido opened #115 "[JS] Missing support for _metadata"
As the title implies, the js client is currently lacking support for the `_metadta` fields.

I am working on a PR to resolve this, but I am currently not 100% sure about the structure of the _metadata field and couldn't find any resource on it.
My working assumption is that _metadata only contains a `features` property that is structured like the `features` property of a thing. Is this correct or

[2021-01-08 09:18] vavido commented on #115
This is also somewhat related to #114, as this feature could also benefit from a simplified/tiedied model structure

[2021-01-08 12:40] ffendt commented on #115
Hi @vavido,
afaik the `_metadata` field has the same structure as a `Thing` and could thus also include `attributes`. It should probably be possible to technically reuse the `Thing` model, but I'm not sure if this is desirable or not.

[2021-01-08 12:46] ffendt commented on #114
Another idea that came up my mind was to build this like we have in the java client. That would be accessing each `Feature` in `Features` by a getter (`getFeature(featureId)`). But actually I like traversing the path with dot-notation.
So from my point of view it would be a good option to use separate mapper & data classes for the classes that currently implement `IndexedEntityModel`.

[2021-01-08 14:18] vavido commented on #114
Hi @ffendt, thanks for your input, I'll try to create a clean mapper/data implementation and create a PR here soon

[2021-01-08 14:24] vavido commented on #115
Hello @ffendt,
thanks for the help!
One reason to not reuse the thing model for metadata is that it would also include the `_revision` and `_modified` fields, which don't appear inside the `_metadata` if I'm not mistaken, as well as a recursive `_metadata` field.

On the other hand, creating a reduced thing model just to remove these attributs could get a bit redundant. Maybe we should use a `Pick

[2021-01-11 09:43] vavido commented on #114
@ffendt I think I found a way to tidy up the sctructure without a need to seperate Mappers and Entity classes:
Typescript allows static methods on a record type, that means the `IndexedEntityModel` can be written as
[code]
And the concrete classes like this:
[code]

What do you think about that?

[2021-01-13 13:04] vavido opened #119 "[JS] CORS error in Firefox when POST is answered with redirect"
Hello everyone,
yesterday I encountered a strange bug where the HTTP POST request for sending a message to a feature.

The initial request is
[code]

Which is answered with a `HTTP 303` redirect as follows:
[code]

Firefox now prints a warning in the console that CORS Allow-Origin and Origin do not match, even though they are the exact same string.
![grafik](https://user-images.githubusercontent.c

[2021-01-18 12:25] ffendt commented on #119
Hi @vavido,

is this really related to Ditto (or Ditto clients), or is this rather related to the used nginx configuration?

[2021-01-18 13:15] vavido commented on #119
Hi @ffendt,
I'm confident the nginx config used here is not to blame, as requests to the same server used to work flawlessly when executed via Axios which uses XmlHttpRequest internally. Furthermore, the same code works in other (chrome-based) browsers and even the Firefox 85.0b9

[2021-01-19 05:43] ffendt commented on #119
Hi @vavido,
so maybe to answer your initial question: No, I don't think this is worth investing. As you mentioned this is quite niche and a fixed version will be released soon.
If this is a blocker issue, it should be quite easy to implement `HttpRequester` with e.g. Axios to work around this bug until the new Firefox version is released.

[2021-01-19 08:54] vavido commented on #119
Allright, that's what I thought too, I just wanted to hear a second opinion on the matter.
Maybe I will look into implementing a custom requester for the time beeing.

@ffendt I guess we can close this issue then, or should we leave it open in case anyone runs into the same issue in the future?

[2021-01-19 09:03] ffendt commented on #119
We can close this for now and can reopen if needed.

[2021-01-19 09:03] #119 closed

[2021-01-19 15:07] #114 closed

[2021-01-25 15:48] tobias-zeptio opened #122 "Release latest build on npm"
When I look in the npm repository the latest release is from 8 months ago, are these build not going to npm? How do I get a hold of build in that case?

[2021-01-26 05:54] ffendt commented on #122
Hi @tobias-zeptio,
we're currently only publishing final releases for Ditto and its clients. For the JS client our plan was to release a 3.0.0 after #117 gets merged.
Are you in need of some in-between milestone releases? Would you need only milestones of the JavaScript client or also of Ditto or the Java client?

[2021-01-26 06:22] tobias-zeptio commented on #122
I'm specifically after the PR [208](https://github.com/eclipse/ditto-clients/pull/108), to be able to use JWT token with the DOM client..

[2021-01-26 07:56] ffendt commented on #122
Oh, I think we forgot to publish a bugfix release after your PR, sorry. Would it be ok for you, if we'd publish your changes together with the breaking changes of 3.0.0 (see #121)? I could try to publish it as a 2.0.1 otherwise.

[2021-01-26 08:36] tobias-zeptio commented on #122
I'd appreciate if it's released as 2.0.1 as soon as possible, since I depend on that change to move forward. But it depends on when 3.0.0 is released.

[2021-01-26 15:19] ffendt commented on #122
Hi @tobias-zeptio,

I published a 2.1.0 just now containing #108 and #95.

Thank you again for pinging us on the release.

[2021-01-26 15:19] #122 closed

[2021-01-26 17:11] vavido opened #123 "[JS] Eq filter not working for boolean values"
When crating a filter in the JS client via the `Eq` filter interface and passing a boolean value, the filter is not correctly parsed by ditto.
Example:
[code]
The problem seems to be that the value is always put in quotes, but ditto then treats it as a string and the type comparision fails (by design).
When the same filter is manually sent to ditto but with the quotes removed (i.e. `eq('attributes

[2021-01-27 06:30] ffendt commented on #123
Nice catch, thank you for adding an issue for this. This can probably be fixed by accepting `value: any` and checking with `typeof` how the value should be "serialized" for the filter.
Would you be willing to create a PR for this?

[2021-01-27 09:39] vavido commented on #123
Yes I plan on creating a PR for this, but it could take until the beginning of next week until I get around to tackling this.

[2021-02-04 06:46] vhdirk opened #127 "[JS]: Thing is missing the definition field"
It is returned in the response, but it is never mapped.

[2021-02-04 17:45] AhwiniMirajkar commented on #127
I'm new to open source contribution
Could u help me

[2021-02-05 05:07] ffendt commented on #127
Hi @AhwiniMirajkar,
there is already a Pull Request that is almost finished: #126.
You can have a look at [CONTRIBUTING.md](https://github.com/eclipse/ditto-clients/blob/master/CONTRIBUTING.md) for information on how to contribute to the Eclipse Ditto clients project.

[2021-02-05 06:51] #61 closed

[2021-02-05 11:59] #127 closed

[2021-02-11 14:02] #115 closed

[2021-03-01 09:58] DerSchwilk opened #134 "Add example for a device connected to ditto via Azure IoT Hub"
Write an example which shows the possibilities connecting a device via Azure IoT Hub to Ditto.

This can be used to evaluate using Ditto with Azure IoT Hub as a broker.

[2021-03-01 09:59] #134 closed

[2021-03-01 09:59] DerSchwilk commented on #134
Belongs to ditto-examples

[2021-03-18 15:19] vavido commented on #119
It seems that the error is back in Firefox 87.0
However, I managed to work around this issue with the following `HttpRequester`:

[code]
So I don't think there's much need to fix this in the client

[2021-04-13 05:34] #123 closed

[2021-04-15 11:24] #28 closed

[2021-04-29 13:33] #29 closed

[2021-05-11 08:02] IrishWhiskey opened #155 "[JS] Connection error"
Hi! For some reason I keep getting a connection error.
[code]

Am I doing anything wrong?

Here is the code:
[code]
Also if I execute the following command:
[code]
I get the following output
[code]

[2021-05-12 06:53] ffendt commented on #155
Hi @IrishWhiskey,
thanks for this detailed description. I was able to reproduce your problem. This seems to be caused by two different implementation faults in the client:
1. `NodeRequester` uses the `https` module for requests, even if the client was built with `withoutTls()` (see https://github.com/eclipse/ditto-clients/blob/master/javascript/lib/node/src/node-http.ts#L67).
2. `NodeRequester` do

[2021-05-12 07:25] IrishWhiskey commented on #155
Hi Florian! Thanks for your response. I managed to make it work with REST. If you want I can submit a pull request.

[2021-05-12 08:28] ffendt commented on #155
Hi @IrishWhiskey,
yes sure, we'd be happy to have a look at a PR, if you have a fix for the REST problems 👍 .

I'll also have a look into the WebSocket problem.

[2021-05-19 11:22] thlandgraf opened #157 "Things sorting with JS Client"
Hi,
I use your Javascript binding (@eclipse-ditto/ditto-javascript-client-dom) for HTTP access to Ditto.
[code]

does fire a:
[code]
this results to a Error 400 with the message "Invalid input '%', expected Asc or Desc". A

[code]
works fine.

feels like a bug

  Thomas

[2021-05-26 13:42] ffendt opened #158 "[JS] Buffered WebSocket client sends messages before being connected"
The buffered implementation for WebSockets has bug that it will try to send the buffered messages to the WebSocket before the WebSocket has finished connecting.

From what I can observe now, the problematic code can be found in [StandardResilienceHandler#addToOutstandingBuffer](https://github.com/eclipse/ditto-clients/blob/master/javascript/lib/api/src/client/request-factory/resilience/websocket-r

[2021-05-26 13:43] ffendt commented on #155
Hi @IrishWhiskey,

on your problem with the WebSocket connection:
* For the WebSocket client you should use `NodeWebSocketBasicAuth` instead of `NodeHttpBasicAuth`
* The error probably comes from not providing a `catch` for the request you're doing. Try
[code]
* The root cause of the error is probably, that the WebSocket is not yet connected when firing the request (it connects asynchronously). Yo

[2021-05-26 13:47] ffendt opened #159 "[JS] Acknowledge NO_PROXY env variable in node implementation"
The proxy implementation in the NodeJS implementation of the JS client is currently capable of using the `HTTPS_PROXY` and `HTTP_PROXY` environment variables and will automatically proxy requests if those are set. However, it ignores the `NO_PROXY` variable, which e.g. might cause problems in localhost scenarios.

[2021-05-26 13:52] IrishWhiskey commented on #155
Hi @ffendt, thanks for your help

[2021-05-27 06:51] ffendt commented on #157
Hi @thlandgraf,

thank you very much for your bug report. This is actually caused by faulty encoding of the sort option, which I fixed in #160.

We're planning on including the fix into a release soon.

[2021-05-27 11:27] #157 closed

[2021-06-01 06:16] ffendt commented on #155
Then I'll close this for now. You can reopen the issue if the problem remains.

[2021-06-01 06:16] #155 closed

[2021-07-13 13:37] thlandgraf opened #169 "[JS] error handling in @eclipse-ditto/ditto-javascript-client-dom"
Hi,

when I open a ditto-connection with a **wrong** PW:
[code]
and call the count method:
[code]
... HTTP returns properly 401 - since I want to distinguish between HTTP errorcodes, I need to interpret the errorcode. But e is returned as undefined.

What do I miss?

    Thomas

[2021-07-13 13:38] thlandgraf commented on #169
Moved to https://github.com/eclipse/ditto-clients/issues/169

[2021-07-13 13:40] thlandgraf commented on #169
reopened... sorry for confusion

[2021-07-14 14:54] thjaeckle commented on #169
Hi @thlandgraf and thanks for reporting.
That most probably is a bug with the JS SDK. The Ditto JS SDK is mainly community-driven and not so frequently used (by the committers of Ditto) as the Java SDK.

We'll look into it ..

[2022-01-24 05:14] andrew-kratik opened #177 "[java] add desiredProperties support"
In order to use the ditto-client to manage desired feature properties, the operations have to be executed via creating ditto-protocol messages manually in the client [link](https://www.eclipse.org/ditto/2020-11-11-desired-properties.html#using-the-ditto-client-to-manage-desired-feature-properties)
In communication pattern when properties are set by device only and desiredProperties are set by serv

[2022-01-24 07:50] thjaeckle commented on #177
That is indeed a valid request - seems that this was not done when adding the `desiredProperties` to Ditto itself.
In addition to CRUD operations, also registering for `desiredProperties` changes would be needed to cover it all.

I don't think that the Ditto team will work on that in the near future (as you said, it is possible to manually send the CRUD operations with the client.
If this is an im

[2022-03-14 19:07] btuin opened #181 "[java] Incorrect test for DITTO_DUMMY_AUTH_USER in DittoClientUsageExamples"
In the file [java/src/test/java/org/eclipse/ditto/client/DittoClientUsageExamples.java at the line 764](https://github.com/eclipse/ditto-clients/blob/d3acd805cfc47af63da7c7b9a3c654bb42031b1e/java/src/test/java/org/eclipse/ditto/client/DittoClientUsageExamples.java#L764), the test should be `DITTO_DUMMY_AUTH_USER != null && !DITTO_DUMMY_AUTH_USER.isEmpty()`, and not just `DITTO_DUMMY_AUTH_USER != n

[2022-03-28 17:30] PaulWojcik-TMMC opened #187 "Thing object not fully populated on change"
After the following (example taken from documentation):

[code]

The Thing returned from change.getThing() has only fields populated that changed. Other fields like the id, policy or other are null.
There is another method:

`change.getValue() `

that can be used to find out what changed. I believe the idea for the getThing() was to return a fully populated object that was affected by the change.

[2022-03-29 06:17] thjaeckle commented on #187
The `getThing()` delivers only the changed content of the thing, that's on purpose in order to save bandwith.
When you want to receive the complete state of the thing with each consumed change, you can define [extra fields via signal enrichment](https://www.eclipse.org/ditto/basic-enrichment.html) when starting the consumption of twin events in the client:

[code]

[2022-03-29 06:17] #187 closed

[2022-08-11 08:28] emcellsoft opened #193 "[JS] Responding to messages"
I'm not sure if I'm doing something wrong, or if this is a problem in the api.

I'm trying to respond to a message that is sent to a thing.

As the documentation states out [here](https://www.eclipse.org/ditto/basic-messages.html#responding-to-messages), I have to set the correlation-id header to the same value as the message that I've received.

I currently do not have chance to get the correlati

[2022-08-15 13:53] thjaeckle commented on #193
@emcellsoft that looks indeed like a bug - the headers from the passed in `message` would need to be passed into the callback.

We would happily accept a PR fixing this:
https://github.com/eclipse/ditto-clients/blob/2e9bb2a5319d98269abde20424491d18db0d6256/javascript/lib/api/src/client/request-factory/websocket-request-handler.ts#L244-L249

For me, it looks also strange that the `headers` of the `

[2022-09-08 04:25] #181 closed

[2022-09-08 05:40] #193 closed

[2022-09-08 05:40] #169 closed

[2022-11-15 15:00] vhdirk opened #202 "[JS]: incompatible with typscript 4.7.4"
We're currently using the ditto js sdk v2.4 with typescript 4.7.4.
Since 3.0 is out, we wanted to upgrade but our build fails with the following errors:

[code]

Apparently you can only override fields when they are declared as an abstract field to begin with.

[2022-11-15 20:03] #202 closed